.header {
  /* border: 1px solid blue; */
}
.header > nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(241, 241, 241);
  height: 50px;
}
.header > nav > .title {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
}
.header > nav > div {
  display: flex;
  justify-content: space-between;
}
.header > nav > div > a {
  text-decoration: none;
  margin: 0 0.2rem;
}
.header input,
.header button,
.logoutBtn {
  padding: 0.3rem 0.7rem;
  border: none;
  background-color: rgb(207, 207, 207);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header input:hover {
  background-color: rgb(185, 185, 185);
}
.header .logoutBtn:hover {
  background-color: rgb(192, 163, 163);
}
