.loginContainer {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 2px 4px rgba(150, 150, 150, 0.5);
  padding: 2rem;
  animation: fadeup 1s ease-in forwards;
}
.login > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.login > form > label,
.login > form > input {
  align-self: flex-start;
  width: 100%;
}
.login > form > input {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}
.login > form > #loginBtn {
  padding: 0.5rem 1rem;
  width: 25%;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: rgb(128, 136, 128);
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  border: none;
  border-radius: 3px;
}
.login > form > #loginBtn:hover {
  background-color: rgb(106, 126, 106);
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
